<template id="container" type="text/template">
  <div class="extension-view-container"></div>
</template>
<template id="content" type="text/template">
  <div class="extension-view-content slds-grid slds-grid_vertical"></div>
</template>
<template id="header" type="text/template">
  <div class="extension-view-header slds-grid slds-has-divider_bottom-space slds-shrink-none">
    <h1 class="extension-view-heading slds-align-middle slds-text-heading_small">Stylesheets on this Visualforce page:</h1>
    <button class="button-panel-close slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small">
      <svg class="slds-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" aria-hidden="true">
        <path d="m3.4 29h33.2c0.9 0 1.3 1.1 0.7 1.7l-9.6 9.6c-0.6 0.6-0.6 1.5 0 2.1l2.2 2.2c0.6 0.6 1.5 0.6 2.1 0l17.5-17.6c0.6-0.6 0.6-1.5 0-2.1l-17.5-17.5c-0.6-0.6-1.5-0.6-2.1 0l-2.1 2.1c-0.6 0.6-0.6 1.5 0 2.1l9.6 9.6c0.6 0.7 0.2 1.8-0.7 1.8h-33.2c-0.8 0-1.5 0.6-1.5 1.4v3c0 0.8 0.6 1.6 1.4 1.6z"></path>
      </svg>
      <span class="slds-assistive-text">Close Panel</span>
    </button>
  </div>
</template>
<template id="body" type="text/template">
  <div class="extension-view-body">
      <div class="extension-view-dropdown"></div>
      <h2 class="slds-text-heading_medium slds-m-bottom_medium">Toggle your custom styles</h2>
      <div class="extension-view-custom-styles"></div>
  </div>
</template>
<template id="list_body" type="text/template">
  <ul class="extension-view-list-body slds-has-dividers_bottom slds-has-block-links_space"></ul>
</template>
<template id="list_header" type="text/template">
  <section class="section_{{category}}">
    <div class="slds-form-element">
      <div class="slds-form-element__control">
        <span class="slds-checkbox">
          <input aria-labelledby="title_{{category}}" class="category-check" type="checkbox" name="css_categories" id="checkbox_{{category}}"
            value="on" {{is_checked}} data-css-category="{{category}}" />
          <label class="slds-grid slds-checkbox__label" for="checkbox_{{category}}">
            <div>
              <span class="slds-checkbox_faux"></span>
            </div>
            <div class="slds-truncate">
              <span class="" title="{{filename}}">
                <h3 id="title_{{category}}" class="list-heading slds-text-heading_small">{{title}}</h3>
                <p class="list-description">{{description}}</p>
              </span>
            </div>
          </label>
        </span>
      </div>
    </div>
  </section>
</template>
<template id="list_item" type="text/template">
  <li class="list-item slds-item">
    <div class="list-item-content slds-form-element">
      <div class="slds-form-element__control">
        <span class="slds-checkbox">
          <input class="list-item-check" type="checkbox" name="css_options" id="checkbox_{{id}}" value="on"
            {{is_checked}} data-css-node-id="{{id}}" data-css-category="{{category}}" />
          <label class="slds-grid slds-checkbox__label" for="checkbox_{{id}}">
            <div>
              <span class="slds-checkbox_faux"></span>
            </div>
            <div class="slds-truncate">
              <span class="" title="{{filename}}">
                <strong>
                  {{filename}}
                </strong>
              </span>
              <br />
              <span class="list-item-label_static slds-text-body_small slds-text-color_weak" title="{{url}}">
                {{url}}
              </span>
            </div>
          </label>
        </span>
      </div>
    </div>
  </li>
</template>
<template id="icon_check" type="text/template">
  <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
    width="52" height="52" viewBox="0 0 52 52">
    <path d="m19.1 42.5l-16.5-16.6c-0.6-0.6-0.6-1.6 0-2.2l2.2-2.2c0.6-0.6 1.6-0.6 2.2 0l12.4 12.5c0.4 0.4 1.1 0.4 1.5 0l24.3-24.5c0.6-0.6 1.6-0.6 2.2 0l2.2 2.2c0.6 0.6 0.6 1.6 0 2.2l-28.3 28.6c-0.6 0.7-1.6 0.7-2.2 0z"></path>
  </svg>
</template>
<template id="list_item_partial_selected_a11y_label">
  <span class="slds-assistive-text">Current Selection:</span>
</template>
<template id="theme_picklist_option" type="text/template">
  <li role="presentation" class="slds-listbox__item">
    <div id="listbox-option-category-{{category}}" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center {{is_selected}}"
      role="option" data-category="{{category}}">
      <span class="slds-media__figure">
        {{partial_icon_check}}
      </span>
      <span class="slds-media__body">
        <span class="slds-truncate" title="{{item_value}}">
          {{partial_selected_a11y_label}} {{item_value}}</span>
      </span>
    </div>
  </li>
</template>
<template id="theme_picklist" type="text/template">
  <div class="slds-form-element slds-m-bottom_large">
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">Choose a Salesforce theme</h2>
    <label class="slds-form-element__label" for="combobox-theme-select">Select a Stylesheet:</label>
    <div class="slds-form-element__control">
      <div class="slds-combobox_container slds-size_small">
        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="true" aria-haspopup="listbox"
          role="combobox">
          <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
            <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-theme-select"
              aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Select an Option"
              readonly="" value="{{selected_value}}" />
            <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
              <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="52" height="52" viewBox="0 0 52 52">
                <path d="m8.3 14h35.4c1 0 1.7 1.3 0.9 2.2l-17.3 21.2c-0.6 0.8-1.9 0.8-2.5 0l-17.5-21.2c-0.7-0.9-0.1-2.2 1-2.2z"></path>
              </svg>
              <span class="slds-assistive-text">Description of icon when needed</span>
            </span>
          </div>
          <div id="listbox-themes" role="listbox">
            <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>