.metadata/
/META-INF
target
.project
.classpath
.mvn
.mvnrepo
release.properties
pom.xml.releaseBackup
*.log
.settings
*.pyc
.DS_Store
.idea/
*.iml
*.ipr
*.iws
version.properties
*~
tags
aura-impl/src/test/eslint/
node
node_modules
.tx
.idea/
key.pem
dist/
builds/
*.worker.js
*.log
.web-extension-id
updates.temp
updates.json
aura-inspector-tests/src/main/webapp/dist/
coverage/
logs/
.vscode/settings.json
  
