.metadata/
/META-INF
target
.project
.classpath
.mvn
.mvnrepo
release.properties
pom.xml.releaseBackup
*.log
.settings
*.pyc
.DS_Store
.idea/
*.iml
*.ipr
*.iws
version.properties
*~
tags
aura-impl/src/test/eslint/
node
node_modules
.tx
.idea/
key.pem
/dist/
/builds/
builds/lightning-inspector-latest.zip
*.worker.js
*.log
.web-extension-id
updates.temp
updates.json
aura-inspector-tests/src/main/webapp/dist/


# aura-inspector-tests/src/main/webapp/dist/LightningInspectorInjectedScript.js
# aura-inspector-tests/src/main/webapp/dist/LightningInspectorInjectedScript.js.map
# aura-inspector-tests/src/main/webapp/dist/viewerPanel.js
# aura-inspector-tests/src/main/webapp/dist/viewerPanel.js.map
# aura-inspector-tests/src/main/webapp/dist/component-outputFunction.js.map
# aura-inspector-tests/src/main/webapp/dist/contentScript.js
# aura-inspector-tests/src/main/webapp/dist/contentScript.js.map
# aura-inspector-tests/src/main/webapp/dist/slds/assets/icons/standard-sprite/svg/symbols.svg
# aura-inspector-tests/src/main/webapp/dist/slds/assets/icons/utility-sprite/svg/symbols.svg
# aura-inspector-tests/src/main/webapp/dist/slds/assets/images/einstein-headers/einstein-figure.svg
# aura-inspector-tests/src/main/webapp/dist/slds/assets/images/einstein-headers/einstein-header-background.svg