<template id="actionCardTemplate">

	<div class="action-card-wrapper slds-p-around--x-small is-collapsible">
		<div class="action-header">
			<div class="slds-grid slds-grid--vertical-align-center">
				<div class="action-toggle slds-p-around--x-small">
					<span class="slds-icon_container expand-icon" title="Expand the action card to see more data">
					  <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
					    <use xlink:href="/src/devtoolsPanel/external/slds-assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
					  </svg>
					  <span class="slds-assistive-text">Collapse the action card to see less data</span>
					</span>				

					<span class="slds-icon_container collapse-icon" title="Collapse the action card to see less data">
					  <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
					    <use xlink:href="/src/devtoolsPanel/external/slds-assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
					  </svg>
					  <span class="slds-assistive-text">Collapse the action card to see less data</span>
					</span>
				</div>
				<h2 id="action-name" class="slds-col"></h2>

				<span class="slds-icon_container remove-card" title="Remove this action from the pending overrides collection.">
				  <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
				    <use xlink:href="/src/devtoolsPanel/external/slds-assets/icons/utility-sprite/svg/symbols.svg#close"></use>
				  </svg>
				  <span class="slds-assistive-text">Remove this action from the pending overrides collection.</span>
				</span>

			</div>
		</div>
	    <div class="action-body">
			<div class="action-details">
				<div class="action-parameters">
					<div class="slds-grid slds-p-bottom--x-small">
						<aurainspector-label key="actioncard_parameters"></aurainspector-label>
						<aurainspector-json class="parameters" expandTo="0"></aurainspector-json>
			        </div>
			        <div id="action-response-container" class="slds-grid slds-p-bottom--x-small">
			        	<aurainspector-label key="actioncard_result"></aurainspector-label>
			            <aurainspector-json class="result" expandTo="0" id="actionResult"></aurainspector-json>
			        </div>
			        <div id="action-error-container" class="slds-grid slds-p-bottom--x-small">
			            <aurainspector-label key="actioncard_error"></aurainspector-label>
			            <aurainspector-json expandTo="0" id="actionError" ></aurainspector-json>
			        </div>
			    </div>

				<dl class="attributes">
					<div class="slds-p-bottom--x-small slds-p-right--x-small">
					     <dt><aurainspector-label key="actioncard_id"></aurainspector-label></dt><dd id="actionId"></dd>
					</div>
					<div class="slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_state"></aurainspector-label></dt><dd id="actionState"></dd>
					</div>
					<div class="slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_abortable"></aurainspector-label></dt><dd id="actionIsAbortable"></dd>
					</div>
					<div class="slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_background"></aurainspector-label></dt><dd id="actionIsBackground"></dd>
					</div>
					<div class="slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_created"></aurainspector-label></dt><dd id="statsCreated"></dd>
					</div>
					<div class="slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_storable"></aurainspector-label></dt><dd id="actionIsStorable"></dd>
					</div>
					<div class="storable-info slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_storablesize"></aurainspector-label></dt><dd id="actionStorableSize"></dd>
					</div>
					<div class="storable-info slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_storablerefresh"></aurainspector-label></dt><dd id="actionIsRefresh"></dd>
							</div>
					<div class="storable-info slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_storablecachehit"></aurainspector-label></dt><dd id="actionFromStorage"></dd>
					</div>
					<div class="storable-info slds-p-bottom--x-small slds-p-right--x-small">
		        		<dt><aurainspector-label key="actioncard_storablekey"></aurainspector-label></dt><dd id=""><aurainspector-json class="storageKey code" expandTo="0"></aurainspector-json></dd>
					</div>
			    </dl>
			    
			    <div class="calling-component-container">
				    <h3><aurainspector-label key="actioncard_callingComponent"></aurainspector-label></h3>
				    <div id="callingComponent"></div>
			    </div>
			</div>
			<div class="action-modify">
				<!-- Drop the action -->
				<div class="slds-p-bottom--x-small slds-p-top--x-small dropOrModify">
					<select id="select_dropOrModify" class="slds-select select_dropOrModify">
					   	<option value="dropAction"><aurainspector-label key="actioncard_dropaction"></aurainspector-label></option>
					    <option value="modifyResponse"><aurainspector-label key="actioncard_overrideresult"></aurainspector-label></option>
					    <option value="errorResponseNextTime"><aurainspector-label key="actioncard_errorresponse"></aurainspector-label></option>
					</select>
				</div>

				<!-- Override the Result -->
		        <div class="div_editActionResult slds-p-bottom--x-small slds-p-horizontal--x-small">
		            <div class="div_textarea_ActionResult">
		            	<label for="actionResult" class="slds-form-element__label slds-m-top--x-small"><aurainspector-label key="actioncard_newvalue"></aurainspector-label></label>
		            	<textarea name="actionResultValue" id="textarea_actionResultValue" class="slds-textarea code" rows="3" wrap="off"></textarea>
		        	</div>
					<div class="div_actionButtons slds-p-top--x-small">
			            <button id="button_saveActionResult" class="button_saveActionResult slds-button slds-button--neutral"><aurainspector-label key="actioncard_save"></aurainspector-label></button>
			            <button id="button_cancelChangeActionResult" class="button_cancelChangeActionResult slds-button slds-button--neutral"><aurainspector-label key="actioncard_cancel"></aurainspector-label></button>
			            <button id="button_editActionResult" class="button_editActionResult slds-button slds-button--neutral slds-hide"><aurainspector-label key="actioncard_edit"></aurainspector-label></button>
					</div>
		        </div>

		        <!-- Error Response Next Time -->
		        <div class="div_errorResponse slds-p-bottom--x-small slds-p-horizontal--x-small">
		        	<div class="slds-p-bottom--x-small slds-p-top--x-small dropOrModify">
						<select id="errorResponseType" class="slds-select select_dropOrModify">
					   		<option value="exceptionEvent">Exception Event</option>
					    	<option value="messageAndStack">Message And Stack</option>
						</select>
					</div>

					<div class="exceptionEventDiv">
						<aurainspector-label key="actioncard_eventDescriptor"></aurainspector-label>
		            	<textarea name="eventDescriptor" id="eventDescriptor" class="slds-textarea code" rows="1" wrap="off"></textarea>
		            	<aurainspector-label key="actioncard_eventAttribute"></aurainspector-label>
		            	<textarea name="eventAttribute" id="eventAttribute" class="slds-textarea code" rows="1" wrap="off"></textarea>
		            </div>

					<div class="messageAndStackDiv slds-hide">
			        	<label for="actionResult" class="slds-form-element__label"><aurainspector-label key="actioncard_errormessage"></aurainspector-label></label>
			        	<textarea name="actionErrorMessage" id="textarea_actionErrorMessage" class="slds-textarea code" rows="3" wrap="off"></textarea>
			            <label for="actionResult" class="slds-form-element__label slds-m-top--x-small"><aurainspector-label key="actioncard_errorstack"></aurainspector-label></label>
			            <textarea name="actionErrorStack" id="textarea_actionErrorStack" class="slds-textarea code" rows="3" wrap="off"></textarea>
		            </div>
		        	<div class="div_actionButtons slds-p-top--x-small">
			            <button id="button_saveError" class="button_saveError slds-button slds-button--neutral"><aurainspector-label key="actioncard_save"></aurainspector-label></button>
			            <button id="button_cancelError" class="button_cancelError slds-button slds-button--neutral"><aurainspector-label key="actioncard_cancel"></aurainspector-label></button>
			            <button id="button_editError" class="button_editError slds-button slds-button--neutral slds-hide"><aurainspector-label key="actioncard_edit"></aurainspector-label></button>
					</div>
		        </div>
		    </div>
	    </div>

		
	</div>

</template>

<!-- CSP ruins all our fun, this has to be external because of that -->
<script src="/dist/component-actionCard.js"></script>
