/*.event-card-container td, th {
    border: 1px solid #c1e3ff;
    padding: 0.3rem;
    text-align: left;
    font-size: .7rem;
    font-family: 'Lucida Grande', 'Consolas', 'sans-serif';
    border-radus: 10px;
    vertical-align: top;
}

.event-card-container aurainspector-label {
    display: inline-block;
    font-family: 'Lucida Grande', 'Consolas', 'sans-serif';
    flex: none;
    width: 80px;
    vertical-align: top;
    display: inline-block;
    color: #54698d;
    font-size: 0.75rem;
    line-height: 1.5;
}

.event-card-container .parameters, 
.event-card-container .caller { 
    display: flex; 
    flex:100%;
}

.event-card-container .highlight{
    background-color: #ffffc4;
    transition: background-color 1s;
}

.event-card-container .eventHandledBy dl, 
.event-card-container .eventSource{
  font-family: Menlo, monospace;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

.event-card-container #eventHandledByGrid {
    width: 700px;
    height: 400px;
    background: #f4f6f9;
    margin-top: .5rem;
}

.event-card-container aurainspector-controllerreference {
    cursor: pointer;
    color: #0070D2;
    text-decoration: none;
}

.event-card-container aurainspector-controllerreference:active {
    color: #00396b;
}

.event-card-container aurainspector-controllerreference:focus {
    outline: #0070D2;
    text-decoration: underline;
}

.event-card-container aurainspector-controllerreference:hover {
    color: #005fb2;
    text-decoration: underline;
}

.event-card-container #callStack aurainspector-auracomponent {
    display: block;
    padding-left: 1em;
    opacity: .6;
    cursor: pointer;
}

.event-card-container #callStack aurainspector-auracomponent:hover {
    opacity: 1;
}

.event-card-container #callstack tr:last-child {
    background-color: #ffffe4;
}*/