---
version: 2.1

orbs:
    codecov: codecov/codecov@1.0.4

# Predefined Commands to be run during the Jobs:build config.
run_format: &run_format
    run:
        name: Run format
        # Can't use the "yarn format" script directly since the "--write" flag fixes the formatting issues while this
        # command checks if the files are properly formatted.
        command: yarn prettier --check '{docs,src}/**/*.{js,ts,json,md}'

jobs:
    build:
        docker:
            # specify the version you desire here
            - image: circleci/node:12.16.0-browsers

        steps:
            - checkout
            - restore_cache:
                  key: dependency-cache-3-{{ checksum "yarn.lock" }}
            - run: yarn install --frozen-lockfile
            - run: yarn build
            # - run: yarn lint:ci
            - *run_format
            - run: yarn test:ci
            # Not implemented yet
            # - run: yarn test:integration:ci
            - codecov/upload:
                  file: logs/jest-coverage/*.json
                  flags: frontend
            - store_test_results:
                  path: logs/jest-report
            - save_cache:
                  key: dependency-cache-3-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules
                      - ~/.cache/yarn

workflows:
    version: 2
    master:
        jobs:
            - 'build'
