#trs {
	height: 100px;
	overflow: scroll;
}

#trs table {
    width: 100%;
    font-size: 12px;
}

#trs thead {
text-align: left;
}

#trs th {

}

#trs tbody {

}

#trs tr {

}

#trs td {
    max-width: 200px
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}
