.audits {
  height: 100%;
  width: 100%;
  position: relative;
}

.audits-header {
  padding: 7px 15px;
  border-bottom: 1px solid #DDD;
  text-align: left;
  background: #FFF;
  width: 100%;

  .dark & {
    border-color: #333;
    background: #222;
  }
}

.audits-body {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
}

.audit-result {
  font-size: 10px;

  &.selected {
    background: rgba(0, 0, 0, 0.05);

    .dark & {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.audits-results {
  background: #f5f5f5;
}

.dark .audits-results {
  background: #222;
}

.audit-result {
  padding: 5px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
}

.dark .audit-result {
  border-color: #333;
}

.audit-result-wrapper {
  border-bottom: 1px solid #DDD;
}

.dark .audit-result-wrapper {
  border-color: #333;
}

.audit-result-wrapper .audit-result {
  border-bottom: none;
}

.audit-result-wrapper > div {
  display: inline-block;
  vertical-align: top;
}

.audit-stretch {
  border-bottom: 1px solid #DDD;
}

.dark .audit-stretch {
  border-color: #333;
}

.audit-result-content b {
  font-weight: bold;
  color: #258df1;
}

.audit-result-content {
  font-size: 12px;
}

.audit-result-score {
  font-weight: bold;
  color: #FFF;
  vertical-align: top;
  padding: 2px 5px;
  border-radius: 3px;
  min-width: 40px;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: inline-block;
  width: 40px;
}

.dark .audit-result-score {
  color: #333;
}

.audit-result-score.green {
  background: rgba(76, 175, 80, 0.3);
  color: rgba(76, 175, 80, 1);
}

.audit-result-score.red {
  background: rgba(244, 67, 54, 0.3);
  color: rgba(244, 67, 54, 1);
}

.audit-result-score.orange {
  background: rgba(255, 152, 0, 0.3);
  color: rgba(255, 152, 0, 1);
}

.audit-result-title {
  color: #555;
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 2px 5px;
  width: calc(100% - 40px);

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .dark & {
    color: #AAA;
  }
}

.audits-score {
  font-size: 30px;
  font-weight: bold;
  color: #258df1;
  vertical-align: middle;
}

.audits-score-label {
  font-size: 10px;
  color: #AAA;
  letter-spacing: 1px;
  margin-left: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100px;
  white-space: nowrap;
  display: inline-block;
}

.audit-result-response {
  margin-top: 10px;
  padding: 10px;
  background: #eee;
  font-size: 11px;
  border-radius: 3px;

  .dark & {
    background: rgba(0, 0, 0, 0.3);
  }
}

.audit-group {
  font-size: 9px;
  display: inline-block;
  padding: 1px 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 3px;
  color: #777;

  .dark & {
    border-color: rgba(255, 255, 255, 0.2);
    color: #AAA;
  }
}