.options {
  height: 24px;
  background: #FFF;
  border-bottom: 1px solid #DDD;
  white-space: nowrap;
  overflow: visible;
  position: relative;
}

.dark .options {
  border-color: #444;
  background: #333;
}

.option {
  display: inline-block;
  vertical-align: top;
  max-height: 24px;

  &.select {
    > .select-label {
      padding: 6px 5px 4px 5px;
      display: inline-block;
      vertical-align: top;
      line-height: 14px;
    }

    .Select {
      display: inline-block;
      vertical-align: top;
    }

    .Select .Select-control {
      border-color: transparent !important;
      background: transparent;
    }

    .Select-value {
      line-height: 23px !important;
    }
  }

  &.checkbox {
    padding: 4px 8px 5px 5px;
    font-size: 10px;

    > .checkbox-label {
      display: inline-block;
      vertical-align: top;
      position: relative;
      top: 1px;
    }
  }

  &.required {
    &.select {
      background: rgba(255, 0, 0, 0.2);
    }

    > .select-label {
      background: rgba(255, 0, 0, 0.2);
    }

    &.checkbox {
      background: rgba(255, 0, 0, 0.4);
    }

    &.checkbox, > .select-label, > .checkbox-label {
      font-weight: bold;
    }
  }
}

.no-options {
  width: 100%;
  font-size: 10px;
  padding: 5px 7px 7px 15px;
  opacity: 0.5;
}

.option .rc-checkbox {
  margin-right: 5px;
}