.component-directory {
  height: 100%;
  width: 100%;
  position: relative;
}

.component-directory .rc-checkbox {
  margin-right: 5px;
}

.component-directory-search {
  z-index: 2;
  border: none;
  border-bottom: 1px solid #DDD;
  outline: none;
  width: 100%;
  position: relative;
  padding: 4px 100px 4px 4px;
  font-style: italic;

  .dark & {
    border-color: #444;
    background: #333;
    color: #FFF;
  }
}

.component-directory-search-highlight {
  background: rgba(255, 255, 0, 0.25) !important;
}

.component-directory-crumb {
  display: inline-block;
  border-right: 1px solid #eee;
  padding: 0 8px;
  font-size: 10px;
  cursor: pointer;
  line-height: 29px;
  transition: background 100ms;

  .dark & {
    border-color: #333;
  }
}

.component-directory-crumb:hover {
  background: #EEE;

  .dark & {
    background: #222;
  }
}

.component-directory-crumb:first-child {
  background: #3879d9;
  color: #FFF;
}

.component-directory-crumbs {
  white-space: nowrap;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  min-height: 30px;
  position: relative;
  width: 100%;
  overflow-x: auto;
  user-select: none;
  height: 30px;
  overflow-y: hidden;

  .dark & {
    border-color: #333;
  }
}

.component-directory-crumbs:empty {
  background: #DDD;
}

.component-directory-crumbs:empty::before {
  content: 'no parents';
  position: absolute;;
  left: 0;
  right: 0;
  line-height: 30px;
  top: 0;
  color: #AAA;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 8px;
}

.component-directory-viewer {
  overflow: hidden;
  background: #FFF;
}

.component-directory-options-wrapper {
  position: absolute;
  display: block;
  right: 3px;
  z-index: 9999;
}

.component-directory-search-overlay {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 3px;
}

.component-directory-search-overlay button {
  margin: 0 3px 0 0;
  float: right;
  height: 19px;
  padding-top: 1px;
}

.fdt-row-dim {
  opacity: 0.7;
}

.fdt-cell-red {
  background: rgba(249, 0, 4, 0.2) !important;
}

.fdt-cell-green {
  background: rgba(15, 255, 0, 0.2) !important;
}

.fdt-row-green
> .fixedDataTableRowLayout_body
> .fixedDataTableCellGroupLayout_cellGroupWrapper
> .fixedDataTableCellGroupLayout_cellGroup
> .public_fixedDataTableCell_main {
  box-shadow: inset 0 -50px 0 rgba(15, 255, 0, 0.15) !important;
}

.fdt-row-red
> .fixedDataTableRowLayout_body
> .fixedDataTableCellGroupLayout_cellGroupWrapper
> .fixedDataTableCellGroupLayout_cellGroup
> .public_fixedDataTableCell_main {
  box-shadow: inset 0 -50px 0 rgba(255, 5, 10, 0.15) !important;
}

.fdt-row-selected
> .fixedDataTableRowLayout_body
> .fixedDataTableCellGroupLayout_cellGroupWrapper
> .fixedDataTableCellGroupLayout_cellGroup
> .public_fixedDataTableCell_main {
  background: #555;
}

.fdt-row-highlighted
> .fixedDataTableRowLayout_body
> .fixedDataTableCellGroupLayout_cellGroupWrapper
> .fixedDataTableCellGroupLayout_cellGroup
> .public_fixedDataTableCell_main {
  background: #fffb73;
}

.fdt-row-highlighted-2
> .fixedDataTableRowLayout_body
> .fixedDataTableCellGroupLayout_cellGroupWrapper
> .fixedDataTableCellGroupLayout_cellGroup
> .public_fixedDataTableCell_main {
  background: #b3d8ff;
}

.light .fdt-row-selected
> .fixedDataTableRowLayout_body
> .fixedDataTableCellGroupLayout_cellGroupWrapper
> .fixedDataTableCellGroupLayout_cellGroup
> .public_fixedDataTableCell_main {
  background: #BBB;
}