.search-bar {
  padding: 2px;
  display: flex;
  background: #EEE;
  border-bottom: 1px solid #CCC;
  justify-content: flex-end;

  .dark & {
    background: #333;
    border-color: #444;
  }

  input {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 1px 3px 0;
    line-height: 17px;
    margin: 1px 2px 1px 1px;
    outline: none;
    position: relative;
    max-width: 300px;
    min-width: 0;
    width: 100%;

    .dark & {
      border-color: #5c5c5c;
      background: #242424;
      color: #FFF;
    }

    &.search-highlight {
      background: rgba(255, 255, 0, 0.25) !important;
    }
  }

  button.generic {
    height: 20px;
  }
}

.options-wrapper {
  position: absolute;
  display: block;
  right: 3px;
  z-index: 9999;

  .rc-checkbox {
    margin-right: 5px;
  }

  label small {
    padding-left: 17px;
    display: block;
  }
}