.ept-waterfall {
  overflow: hidden;
  background: #EEE;

  .dark & {
    background: #222;
  }
}

.ept-waterfall .animate {
  transition: all 300ms;
}

.ept-waterfall .crumbs {
  display: inline-block;
  pointer-events: auto;
  cursor: default;
  font-size: 11px;
  line-height: 17px;
  white-space: nowrap;
  border-bottom: 1px solid #DDD;
  width: 100%;
  min-height: 17px;
  max-height: 17px;
  z-index: 2;
  background: #FFF;

  .dark & {
    background: #333;
    border-color: #555;
  }
}

.ept-waterfall .crumbs .crumb {
  display: inline-block;
  padding: 0 7px;
  height: 16px;
  white-space: nowrap;

  .dark & {
    border-color: #444;
    background: #333;
  }
}

.ept-waterfall .crumbs .crumb:last-child {
  background-color: #3879d9;
  color: white;
}

.ept-waterfall .overview-waterfall .multi-range:hover {
  stroke: black;
  stroke-width: 1;
  position: relative;
  z-index: 999;
}

.ept-waterfall .overview-waterfall svg > rect {
  pointer-events: none;
}

.ept-waterfall .overview {
  border-bottom: 2px solid #DDD;
  box-sizing: content-box;

  .dark & {
    border-color: #444;
  }
}

