text.highcharts-title {
  text-transform: uppercase;
  font-size: 13px !important;
  font-weight: bold;
  letter-spacing: 1px;
  background: #ddd;
  x: 0;
}

span.highcharts-subtitle {
  margin: 10px;
}

.chart {
  padding: 10px;
  background: #FFF;
  border-bottom: 4px solid #eee;
  display: block;
  width: 100%;
  vertical-align: top;
}

.dark .chart {
  background: #222;
  border-color: #444;
}

.chart.right {
  border-bottom: none;
  border-right: 4px solid #eee;
}

.chart.right:last-child, .chart:last-child {
  border: none;
}
