.headers {
  height: 23px;
  padding: 1px;
  background: #FFF;
  border-bottom: 1px solid #DDD;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-align: right;
}

.dark .headers {
  border-color: #444;
  background: #222;
}

.importer {
  position: absolute;
  visibility: hidden;
  float: left;
  pointer-events: none;
}
