@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.markdown-section {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.dark .markdown-section {
  background: #333;
  color: rgb(189, 198, 207);
}

.markdown-section .pl-c {
  color: #969896;
}

.markdown-section .pl-c1,
.markdown-section .pl-s .pl-v {
  color: #0086b3;
}

.markdown-section .pl-e,
.markdown-section .pl-en {
  color: #795da3;
}

.markdown-section .pl-smi,
.markdown-section .pl-s .pl-s1 {
  color: #333;
}

.markdown-section .pl-ent {
  color: #63a35c;
}

.markdown-section .pl-k {
  color: #a71d5d;
}

.markdown-section .pl-s,
.markdown-section .pl-pds,
.markdown-section .pl-s .pl-pse .pl-s1,
.markdown-section .pl-sr,
.markdown-section .pl-sr .pl-cce,
.markdown-section .pl-sr .pl-sre,
.markdown-section .pl-sr .pl-sra {
  color: #183691;
}

.markdown-section .pl-v {
  color: #ed6a43;
}

.markdown-section .pl-id {
  color: #b52a1d;
}

.markdown-section .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.markdown-section .pl-sr .pl-cce {
  font-weight: bold;
  color: #63a35c;
}

.markdown-section .pl-ml {
  color: #693a17;
}

.markdown-section .pl-mh,
.markdown-section .pl-mh .pl-en,
.markdown-section .pl-ms {
  font-weight: bold;
  color: #1d3e81;
}

.markdown-section .pl-mq {
  color: #008080;
}

.markdown-section .pl-mi {
  font-style: italic;
  color: #333;
}

.markdown-section .pl-mb {
  font-weight: bold;
  color: #333;
}

.markdown-section .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}

.markdown-section .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}

.markdown-section .pl-mdr {
  font-weight: bold;
  color: #795da3;
}

.markdown-section .pl-mo {
  color: #1d3e81;
}

.markdown-section .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.markdown-section a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.markdown-section a:active,
.markdown-section a:hover {
  outline-width: 0;
}

.markdown-section strong {
  font-weight: inherit;
}

.markdown-section strong {
  font-weight: bolder;
}

.markdown-section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown-section img {
  border-style: none;
}

.markdown-section svg:not(:root) {
  overflow: hidden;
}

.markdown-section code,
.markdown-section kbd,
.markdown-section pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-section hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdown-section input {
  font: inherit;
  margin: 0;
}

.markdown-section input {
  overflow: visible;
}

.markdown-section [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-section * {
  box-sizing: border-box;
}

.markdown-section input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-section a {
  color: #4078c0;
  text-decoration: none;
}

.markdown-section a:hover,
.markdown-section a:active {
  text-decoration: underline;
}

.markdown-section strong {
  font-weight: 600;
}

.markdown-section hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.dark .markdown-section hr {
  border-color: #555;
}

.markdown-section hr::before {
  display: table;
  content: "";
}

.markdown-section hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-section table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-section td,
.markdown-section th {
  padding: 0;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-section h1 {
  font-size: 32px;
  font-weight: 600;
}

.markdown-section h2 {
  font-size: 24px;
  font-weight: 600;
}

.markdown-section h3 {
  font-size: 20px;
  font-weight: 600;
}

.markdown-section h4 {
  font-size: 16px;
  font-weight: 600;
}

.markdown-section h5 {
  font-size: 14px;
  font-weight: 600;
}

.markdown-section h6 {
  font-size: 12px;
  font-weight: 600;
}

.markdown-section p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-section blockquote {
  margin: 0;
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-section ol ol,
.markdown-section ul ol {
  list-style-type: lower-roman;
}

.markdown-section ul ul ol,
.markdown-section ul ol ol,
.markdown-section ol ul ol,
.markdown-section ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-section dd {
  margin-left: 0;
}

.markdown-section code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdown-section pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-section .octicon {
  vertical-align: text-bottom;
}

.markdown-section input {
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

.markdown-section::before {
  display: table;
  content: "";
}

.markdown-section::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-section > *:first-child {
  margin-top: 0 !important;
}

.markdown-section > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-section a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-section .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-section .anchor:focus {
  outline: none;
}

.markdown-section p,
.markdown-section blockquote,
.markdown-section ul,
.markdown-section ol,
.markdown-section dl,
.markdown-section table,
.markdown-section pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-section hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}

.markdown-section blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

.markdown-section blockquote > :first-child {
  margin-top: 0;
}

.markdown-section blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-section kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-section h1 .octicon-link,
.markdown-section h2 .octicon-link,
.markdown-section h3 .octicon-link,
.markdown-section h4 .octicon-link,
.markdown-section h5 .octicon-link,
.markdown-section h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-section h1:hover .anchor,
.markdown-section h2:hover .anchor,
.markdown-section h3:hover .anchor,
.markdown-section h4:hover .anchor,
.markdown-section h5:hover .anchor,
.markdown-section h6:hover .anchor {
  text-decoration: none;
}

.markdown-section h1:hover .anchor .octicon-link,
.markdown-section h2:hover .anchor .octicon-link,
.markdown-section h3:hover .anchor .octicon-link,
.markdown-section h4:hover .anchor .octicon-link,
.markdown-section h5:hover .anchor .octicon-link,
.markdown-section h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-section h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.markdown-section h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.dark .markdown-section h1,
.dark .markdown-section h2 {
  border-color: #555;
}

.markdown-section h3 {
  font-size: 1.25em;
}

.markdown-section h4 {
  font-size: 1em;
}

.markdown-section h5 {
  font-size: 0.875em;
}

.markdown-section h6 {
  font-size: 0.85em;
  color: #777;
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 2em;
}

.markdown-section ul ul,
.markdown-section ul ol,
.markdown-section ol ol,
.markdown-section ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-section li > p {
  margin-top: 16px;
}

.markdown-section li + li {
  margin-top: 0.25em;
}

.markdown-section dl {
  padding: 0;
}

.markdown-section dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown-section dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-section table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-section table th {
  font-weight: bold;
}

.markdown-section table th,
.markdown-section table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.dark .markdown-section table td,
.dark .markdown-section table th {
  border-color: #555;
}

.markdown-section table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.dark .markdown-section table tr {
  background-color: transparent;
  border-color: #555;
}

.markdown-section table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.dark .markdown-section table tr:nth-child(2n) {
  background-color: #444;
  border-color: #444;
}

.markdown-section img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: transparent;
}

.markdown-section code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.markdown-section code::before,
.markdown-section code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-section pre {
  word-wrap: normal;
}

.markdown-section pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-section .highlight {
  margin-bottom: 16px;
}

.markdown-section .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-section .highlight pre,
.markdown-section pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.dark .markdown-section .highlight pre,
.dark .markdown-section pre {
  background: #222;
}

.markdown-section pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-section pre code::before,
.markdown-section pre code::after {
  content: normal;
}

.markdown-section .pl-0 {
  padding-left: 0 !important;
}

.markdown-section .pl-1 {
  padding-left: 3px !important;
}

.markdown-section .pl-2 {
  padding-left: 6px !important;
}

.markdown-section .pl-3 {
  padding-left: 12px !important;
}

.markdown-section .pl-4 {
  padding-left: 24px !important;
}

.markdown-section .pl-5 {
  padding-left: 36px !important;
}

.markdown-section .pl-6 {
  padding-left: 48px !important;
}

.markdown-section .full-commit .btn-outline:not(:disabled):hover {
  color: #4078c0;
  border: 1px solid #4078c0;
}

.markdown-section kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-section :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0;
}

.markdown-section .task-list-item {
  list-style-type: none;
}

.markdown-section .task-list-item + .task-list-item {
  margin-top: 3px;
}

.markdown-section .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-section hr {
  border-bottom-color: #eee;
}