.image-compression-table {
  border: 1px solid #DDD;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  .dark & {
    border-color: #333;
  }
}

.image-preview {
  border: 1px solid #DDD;
  background: #EEE;

  .dark & {
    border-color: #333;
    background: #222;
  }
}