
input[type='range'] {
  -webkit-appearance: none;
  height: 2px;
  background: #555 no-repeat center;
  margin: auto;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #434343;
  position: relative;
  border: 6px solid #FFF;
  z-index: 3;
  cursor: pointer;
}

.range-wrapper {
  height: 25px;
  border-radius: 4px;
  padding: 4px 4px 4px 10px;
  margin: 10px 10px 10px 0;
  background: rgba(12, 12, 12, 0.1);

  .dark & {
    background: rgba(255, 255, 255, 0.07);
  }
}

.wireframe-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: scroll;
  border-width: 10px 1px 1px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
  border-image: initial;
  border-radius: 4px 4px 2px 2px;
}