.placeholder {
    color: #777;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    overflow: auto;
}

.dark .placeholder {
    color: rgb(136, 136, 136);
    background-color: rgb(36, 36, 36);
}

.placeholder > div {
    max-width: 400px;
    text-align: left;
}