@import "../react-select-mixins/select";

.light {
  @import "../react-select-mixins/control";
  @import "../react-select-mixins/menu";
  @import "../react-select-mixins/mixins";
  @import "../react-select-mixins/multi";
  @import "../react-select-mixins/spinner";
}

.dark {
  // control options
  $select-input-bg:                   #222;
  $select-input-bg-disabled:          #333;
  $select-input-border-color:         #444;
  $select-input-placeholder:          #aaa;
  $select-text-color:                 #bbb;

  // menu options
  $select-option-color:               darken($select-text-color, 20%);
  $select-option-bg:                  $select-input-bg;
  $select-option-focused-color:       $select-text-color;
  $select-option-focused-bg:          rgba(0, 84, 255, 0.2); // pale blue
  $select-option-selected-color:      $select-text-color;
  $select-option-selected-bg:         rgba(0, 84, 255, 0.1); // lightest blue
  $select-option-disabled-color:      darken($select-text-color, 60%);

  $select-noresults-color:            darken($select-text-color, 40%);

  // clear "x" button
  $select-clear-color:                #999;
  $select-clear-hover-color:          #D0021B; // red

  // arrow indicator
  $select-arrow-color:                rgba(255, 255, 255, 0.4);
  $select-arrow-color-hover:          rgba(255, 255, 255, 0.6);

  // loading indicator
  $select-loading-color:              $select-text-color;
  $select-loading-color-bg:           $select-input-border-color;

  // multi-select item
  $select-item-color:                 #08c; // pale blue
  $select-item-bg:                    #333;
  $select-item-border-color:          lighten($select-item-bg, 10%);
  $select-item-hover-color:           lighten($select-item-color, 5%); // pale blue
  $select-item-hover-bg:              lighten($select-item-bg, 5%);
  $select-item-disabled-color:        #333;
  $select-item-disabled-bg:           #fcfcfc;
  $select-item-disabled-border-color: lighten($select-item-disabled-bg, 10%);

  @import "../react-select-mixins/control";
  @import "../react-select-mixins/menu";
  @import "../react-select-mixins/mixins";
  @import "../react-select-mixins/multi";
  @import "../react-select-mixins/spinner";
}