.spinner,
.spinner:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.spinner {
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-left-color: #444;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  text-align: center;
  display: inline-block;

  .dark & {
    border-color: rgba(255, 255, 255, 0.2);
    border-left-color: #fff;
  }
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
